*{
    margin: 0;
    padding: 0;
}

/* header style */
.header{
    background-image: url(portfolio-resources/images/developer.png), url(portfolio-resources/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding: 50px 38px;
    
}
/* header style */

/* navigation style */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}
.nav ul,a{
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
    text-decoration: none;
    font-size: 30px;
}
.logo{
    font-size: 45px;
    font-weight: 800;
    
}
.sp{
    color: #FD6E0A;
}
.btn{
    color: white;
    background-color: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
}
.btn:hover{
    background-color: white;
    color: #FD6E0A;
    transform: scale(1.15);
}
.btn-cnt{
    display: flex;
    gap: 30px;
}
/* navigation style */

/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 580px;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    

}
.grtngs{
    font-size: 45px;
    font-weight: 600;
}
.title{
    font-weight: bold;
    font-size: 85px;
}
.b-decs{

}
.img-av{
    width: 580px;
}
/* banner style */
/* shared style */
.h{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.p{
    font-size: 18px;
    color: #757575;
}
.bg-clr{
    background-color: #FFF8F3;
}
.center{
    text-align: center;
}
/* shared style */

main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* About me style */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 130px 0px;
}
.about-data{
    display: flex;
    justify-content: space-around;
}
.data{

}
.info{

}
.infodata{
    font-weight: 600;

}

/* skills style */
.skillhold{
    display: flex;
    gap: 24px;

}
.skillname{
    padding: 30px;
    box-shadow: 8px 8px 50px 0px rgba(0,0,0,6%);
    height: 250px;
    border-radius: 10px;

}
.skillname:hover{
    background-color: #8282823a;
    transform: scale(1.05);
}
.skilltitle{
    font-size: 20px;
    font-weight: bold;
}
.skilldesc{
    font-size: 16;
    color: #757575;
}